h1.header {
    font-size: 60px;
    font-family: 'Pacifico';
    text-align: center;
    font-weight: lighter;
    color: inherit;
}

body{
    background-color: #FFF
}

.Page{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.Cart {
    width: 500px;
    color: #FFF;
    margin-bottom: 15px;
    font-family: 'Roboto';
    font-size: 22px;
}

.Form {
    width: 500px;
    color: #FFF;
    font-size: 18px;
}

h1{
    font-family: 'Pacifico';
    font-size: 40px;
    font-weight: lighter;
}

h2{
    font-family: 'Roboto';
}

input{
    font-family: 'Roboto';
    font-size: 18px;
    margin-bottom: 15px;
}
