h1.header {
    font-size: 60px;
    font-family: 'Pacifico';
    text-align: center;
    font-weight: lighter;
    color: inherit;
}

body{
    background-color: #FFF
}

.Page{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.Cart {
    width: 500px;
}

.Form {
    width: 500px;
    color: #FFF;
}
